*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.logo{
    width: 140px;
    cursor: pointer;
}
#navbar{
    background-color: #000000;
}
#buttoons a{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
:root{
    --red:#f42625;
    --white:#ffffff;
    --black:#000000;
}
.franchise:hover {
    background-color: #ff3a3a50;
}
.order-online:hover {
    border-color: rgba(255, 0, 0, 0.847) ;
}
.franchise {
    background-color: #000000;
}
.order-online {
    cursor: pointer;
    background-color:var(--red);  
}
a {
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 3rem;
    color: var(--red) ;
}
.h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 3rem;
    color: var(--white) ;
}
.p1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}
.p2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: large;
    color: #808080;
}
.bg-black{
    background-color: var(--black);
}
.franchises {
    background-image: url(./assets/sgrey.webp) ;
    background-repeat: no-repeat;
    background-position-x:right;
    background-position-y:4rem ;
    position: relative;
    


}
.bg-grey{
    background-color: #0f0f0f;
}
.islamabad {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 7px ;
    font-weight: 100;    
    color: var(--red);                   
}
#icon{
    color: grey ;
}
.text-red{
    color: var(--red);
}